[submodule ".github/automation/roles/github_actions_runner"]
	path = .github/automation/roles/github_actions_runner
    url = https://github.com/cherusk/ansible-github_actions_runner.git
    branch = optional_deps
[submodule "testing/infra/provisioning/roles/ansible-prometheus"]
	path = testing/infra/provisioning/roles/ansible-prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
